<!doctype html>
<html lang="en" dir="ltr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" href="~/EPG.ico" type="image/x-icon" />
    <title>@ViewData["Title"] - Admin</title>
    <link rel="stylesheet" href="~/assets/plugins/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/assets/plugins/summernote/dist/summernote.css" />
    <link rel="stylesheet" href="~/assets/css/style.min.css" />
</head>

<body class="font-muli theme-cyan gradient">
   
    <!-- Page Loader -->
    <div class="page-loader-wrapper">
        <div class="loader">
        </div>
    </div>

    <div id="main_content">
        <!-- Log Out -->
        <div id="header_top" class="header_top">
            <div class="container">
                <div class="hleft">
                    <a class="header-brand" href=""><i class="fa fa-graduation-cap brand-logo"></i></a>
                    <div class="dropdown">
                        <a href="javascript:void(0)" class="nav-link icon menu_toggle"><i class="fe fe-align-center"></i></a>
                    </div>
                </div>
                <div class="hright">
                    <a href="@Url.Action("Login", "Admin")" class="nav-link icon settingbar"><i class="fe fe-power"></i></a>
                </div>
            </div>
        </div>

        <!-- Menu -->
        <div id="left-sidebar" class="sidebar">
            <h5 class="brand-name" style="color: black; font-weight: bold; font-size: 1.2rem;">
                Ecole Polytechnique des Génies
            </h5>            
            <ul class="nav nav-tabs">
                <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#menu-uni">Admin</a></li>
            </ul>
            <div class="tab-content mt-3">
                <div class="tab-pane fade show active" id="menu-uni" role="tabpanel">
                    <nav class="sidebar-nav">
                        <ul class="metismenu">
                            <li class="active"><a href="@Url.Action("Dashboard", "Admin")"><i class="fa fa-dashboard"></i><span>Dashboard</span></a></li>
                            <li class="active"><a href="@Url.Action("DemandeStage", "Admin")"><i class="fa fa-black-tie"></i><span>Demande De Stage</span></a></li>
                            <li class="active"><a href="@Url.Action("Encadrant", "Admin")"><i class="fa fa-user-circle-o"></i><span>Encadrants</span></a></li>
                            <li class="active"><a href="@Url.Action("Stagiaire", "Admin")"><i class="fa fa-address-book"></i><span>Stagiaires</span></a></li>
                            <li class="g_heading">Extra</li>
                            <li class="active"><a href="@Url.Action("ListBanned", "Admin")"><i class="fa fa-flag"></i><span>Leave</span></a></li>
                            <li class="active"><a href="@Url.Action("Archive", "Admin")"><i class="fa fa-book"></i><span>Archive</span></a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>

        <!-- Start project content area -->
        <div class="page">
            <!-- Profil Setting -->
            <div class="section-body" id="page_top">
                <div class="container-fluid">
                    <div class="page-header">
                        <div class="left"></div>
                        <div class="right">
                            <div class="notification d-flex">
                                <div class="dropdown d-flex">
                                    <a href="javascript:void(0)" class="chip ml-3" data-toggle="dropdown">
                                        <span class="avatar" style="background-image: url('/assets/images/xs/EPG.jpg')"></span> EPG
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
                                        <a class="dropdown-item" href="@Url.Action("SettingProfil", "Admin")"><i class="dropdown-icon fe fe-user"></i> Profile</a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" href="@Url.Action("Login", "Admin")"><i class="dropdown-icon fe fe-log-out"></i> Sign out</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Start Main content -->
            <div class="section-body mt-4">
                @RenderBody()
            </div>

            <!-- Footer-->
            <div class="section-body">
                <footer class="footer">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-6 col-sm-12">
                                Copyright © 2024 <a href="">MohammedMouhcine</a>.
                            </div>
                            <div class="col-md-6 col-sm-12 text-md-right">
                            </div>
                        </div>
                    </div>
                </footer>
            </div>
        </div>
    </div>

    <script src="~/assets/bundles/lib.vendor.bundle.js"></script>
    <script src="~/assets/bundles/counterup.bundle.js"></script>
    <script src="~/assets/bundles/apexcharts.bundle.js"></script>
    <script src="~/assets/bundles/summernote.bundle.js"></script>
    <script src="~/assets/js/core.js"></script>
    <script src="~/assets/js/page/index.js"></script>
    <script src="~/assets/js/page/summernote.js"></script>


    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>